@tailwind base
@tailwind components
@tailwind utilities
@tailwind variants

#root
 width:100%

.logo
  height: 6em
  padding: 1.5em
  will-change: filter

  &:hover
    filter: drop-shadow(0 0 2em #646cffaa)

  &.react:hover
    filter: drop-shadow(0 0 2em #61dafbaa)

@keyframes logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@media (prefers-reduced-motion: no-preference)
  a:nth-of-type(2) .logo
    animation: logo-spin infinite 20s linear

.card
  padding: 2em

.read-the-docs
  color: #888
